@import "tailwindcss";
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-out;
  }

  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }

  .from-left {
    transform: translateX(-50px);
  }
  .from-right {
    transform: translateX(50px);
  }
  .from-top {
    transform: translateY(-50px);
  }
  .from-bottom {
    transform: translateY(50px);
  }
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
:root {
  margin: 0;
  padding: 0;
}

.stroke-text {
  -webkit-text-stroke: 3px #000000;
}

::-webkit-scrollbar {
  width: 12px; /* wadah lebih besar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #c7b987;
  border-radius: 10px;

  /* trik membuat thumb lebih kecil dari track */
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3a46f;
}

.max-w-std {
  max-width: 85rem;
}
.w-std {
  width: 85rem;
}
